.gnb-nav {
  $padding: 8px;

  &-list {
    @include flexbox(start);
    gap: 24px - ($padding * 2);
  }

  &-item {
    &.is-active,
    &:hover {
      a {
        color: $blue;
      }
    }

    a {
      @include text-style(18, $primary);
      display: block;
      padding: $padding;
      font-weight: 700;
    }
  }
}
