.gnb {
  position: relative;
  border-bottom: 1px solid $border;

  &-wrapper {
    @include flexbox(between);
    height: 50px;
  }

  &-right {
    .button-group {
      @include flexbox(end);
      gap: 4px;
    }
  }

  .logo {
    @include pos-center;

    a {
      display: block;
    }

    img {
      display: block;
      height: 20px;
    }
  }

  @include responsive(T) {
    &-wrapper {
      height: 80px;
    }

    &-left {
      @include flexbox(start);
      gap: 32px;
    }

    &-right {
      @include flexbox(end);
      gap: 24px;

      .button-group {
        gap: 8px;
      }

      .gnb-auth {
        margin-left: 8px;

        a {
          @include text-style(14, $secondary);
          font-weight: 700;

          &:hover {
            color: $blue;
          }

          &:first-child {
            margin-right: 12px;
          }
        }
      }
    }

    .logo {
      position: static;
      transform: none;

      img {
        height: 24px;
      }
    }

    .btn-primary {
      gap: 4px;
      width: 88px;
    }
  }

  @include responsive(D) {
    &-right {
      .input-group {
        width: 264px;
      }
    }
  }
}
