.lnb {
  $lnb-link-padding: 8px;
  $grid-margin: $sm-margin + $gutter / 2;
  $lnb-height: 40px;

  @include no-scrollbar;
  overflow-x: auto;

  &-list {
    @include inline-flexbox(start);
    height: $lnb-height;
    padding: 0 #{$grid-margin - $lnb-link-padding};
    margin: 0 -#{$grid-margin};
    white-space: nowrap;
    border-bottom: 1px solid $border;
  }

  &-item {
    &.is-active {
      a {
        color: $blue;
        border-color: $blue;
      }
    }

    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      height: $lnb-height;
      padding: 0 8px;
      font-weight: 700;
      border-bottom: 2px solid transparent;
    }
  }
}
